## Copyright (C) 2012 - 2018 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: usability-misc
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 12), genmkfile, ronn
Homepage: https://github.com/Whonix/usability-misc
Vcs-Browser: https://github.com/Whonix/usability-misc
Vcs-Git: https://github.com/Whonix/usability-misc.git
Standards-Version: 4.3.0

Package: usability-misc
Architecture: all
Depends: sudo, policyrcd-script-zg2, adduser, ${misc:Depends}
Description: Misc usability improvements
 Creates user "user" if it does not already exist.
 .
 Creates folders /home/user/Downloads and /home/user/Pictures.
 .
 Adds user "user" to group libvirt as well as to group kvm.
 .
 Ships a file /etc/sudoers.d/user-passwordless that contains comments and
 "#user   ALL=(ALL:ALL) NOPASSWD:ALL". Lets user "user" easily run all
 commands without password. Disabled (out commented) by default.
 .
 Simplifies running OpenVPN as unprivileged user.
 .
 Ships a FoxyProxy add-on configuration file for use with Tor Browser.
 .
 Process configuration folder /etc/audit/rules.d/ by default if auditd is
 installed.
 .
 Provides apt-get-noninteractive that is a simple wrapper around apt-get, that
 sets all required environment variables to make it interactive as well as to
 prevent systemd service starts and restarts during apt-get.
