#!/usr/bin/env zsh

# /etc/zsh/zprofile: system-wide .zprofile file for zsh(1).
#
# This file is sourced only for login shells (i.e. shells
# invoked with "-" as the first character of argv[0], and
# shells invoked with the -l flag.)
#
# Global Order: zshenv, zprofile, zshrc, zlogin

if [ -d /etc/zprofile.d ]; then
  for i in /etc/zprofile.d/*.zsh; do
    if [ -r $i ]; then
      . $i
    fi
  done
  unset i
fi
